source ~/.vimrc

noremap gi :action GotoImplementation<CR>
noremap gd :action GotoDeclaration<CR>
noremap <leader>fp :action FindInPath<CR>
noremap <leader>se :action SearchEverywhere<CR>
noremap <leader>fsp :action FileStructurePopup<CR>
noremap <leader>fu :action FindUsages<CR>
noremap <leader>mv :action RenameElement<CR>
noremap <leader>== :action ReformatCode<CR>
noremap <leader>=p :action ReformatWithPrettierAction<CR>
noremap <leader>cf :action Find<CR>
noremap <leader>cr :action Replace<CR>
noremap <leader>cc :action $Copy<CR>
noremap <leader>cx :action $Cut<CR>
noremap <leader>cv :action $Paste<CR>
nmap <leader>ce :action RecentFile<CR>
nmap <leader><leader>s :action KJumpAction<CR>
nmap <leader><leader>w :action KJumpAction.Word0<CR>
nmap <leader><leader>l :action KJumpAction.Line<CR>
