source ~/.vimrc

noremap gi :action GotoImplementation<CR>
noremap gd :action GotoDeclaration<CR>
noremap <leader>sip :action FindInPath<CR>
noremap <leader>sf :action SearchEverywhere<CR>
noremap <leader>fsp :action FileStructurePopup<CR>
noremap <leader>fu :action FindUsages<CR>
noremap <leader>fmv :action RenameElement<CR>
noremap <leader>fc :action ReformatCode<CR>
noremap <leader>fcp :action ReformatWithPrettierAction<CR>
noremap <leader>frf :action RecentFiles<CR>
noremap <leader>cf :action Find<CR>
noremap <leader>cr :action Replace<CR>
noremap <leader>cc :action $Copy<CR>
noremap <leader>cx :action $Cut<CR>
noremap <leader>cv :action $Paste<CR>
nmap <leader><leader>s :action KJumpAction<CR>
nmap <leader><leader>w :action KJumpAction.Word0<CR>
nmap <leader><leader>l :action KJumpAction.Line<CR>
